body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.products {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  flex-direction: column;
}

img {
  height: 130px;
  width: 150px;
}
